<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 목록</title>
</head>
<style>
    .layout{
        height:100vh;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;

    }

    .layout .wrap-table{
        display:flex;
        flex-direction:row;
        justify-content:center;
        width:35%;
    }

    .layout .table{
        display:flex;
        flex-direction:column;
        justify-content:flex-start;
        width:100%;
    }

    .layout table, th, td{
        border: 1px solid black;
    }
</style>

<body>
<div class="layout">
    <div class="wrap-table">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>글 번호</th>
                        <th>제목</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="board : ${list}">
                        <td th:text="${board.id}">글 번호</td>
                        <td><a th:text="${board.title}" th:href="@{/board/detail(id=${board.id})}"></a></td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>
    <div class="wrap-paging">
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page !=currentPage}" th:href="@{/board/list(page=${page-1}, searchkeyword = ${param.searchkeyword})}" th:text="${page}"></a>
            <strong th:if="${page ==currentPage}"  th:text="${page}" style="color:red"></strong>
        </th:block>
    </div>
    <form th:action="@{/board/list}" method="get">
        <input type="text" name="searchkeyword">
        <button type="submit">검색</button>

    </form>

</div>

</body>
</html>